.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

.navbar__img {
    position: relative;
    width: 25%;
    height: 25%;
    margin-top: 0.5rem;
}

.navbar__img__valise {
    position: relative;
    width: 5%;
    margin-bottom: 0.3rem;
}

a {
    position: relative;
}