.navbar {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-image: "../src/assets/Favelas.jpeg";
}

.navbar__img {
    position: relative;
    width: 25%;
    height: 25%;
    margin-top: 2vh;
    margin-left: 2vw;
}

.navbar__img__valise {
    position: relative;
    width: 15%;
    margin-bottom: 0.3rem;
}

a {
    position: relative;
}

a .navbar__img__valise {
    position: relative;
    display: flex;
    justify-content: center;
}