.planisphere_img {
    width: 71vw;
    position:relative;
    height: auto;
    padding: 1.5vw;
}

.argentine {
    width: 3vw;
    position: absolute;
    top: 73vh;
    left: 22vw;
    background-color: aqua;

}

.bolivie {
    width: 3vw;
    position: absolute;
    top: 66vh;
    left: 20.5vw;
    background-color: red;
}

.bresil {
    width: 3vw;
    position: absolute;
    top: 64vh;
    left: 24vw;
    background-color: green;
}

.cambodge {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}

.emirats_arabes_unis {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}

.espagne {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}

.france {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}

.inde {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.italie {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.japon {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.maroc {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.namibie {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.nepal {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.pays_bas {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.portugal {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.russie {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.tahiti {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.thailande {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.usa {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
.vietnam {
    width: 7vmin;
    position: absolute;
    top: 70vmin;
    left: 52vmin;
    background-color: green;
}
