.planisphere_img {
    width: 68vw;
    height: auto;
    padding: 1.5vw;
}

/* .argentine {
    width: 3vw;
    position: relative;
    bottom: 18vh;
    left: 21vw;
}

.bolivie {
    width: 3vw;
    position: relative;
    bottom: 23vh;
    left: 17vw;
}

.bresil {
    width: 3vw;
    position: relative;
    bottom: 25vh;
    left: 17vw;
}

.cambodge {
    width: 3vw;
    position: relative;
    bottom: 33vh;
    left: 45vw;
}

.emirats_arabes_unis {
    width: 3vw;
    position: relative;
    bottom: 36vh;
    left: 31vw;
}

.espagne {
    width: 3vw;
    position: relative;
    bottom: 42vh;
    left: 17.5vw;
}

.france {
    width: 3vw;
    position: relative;
    bottom: 45vh;
    left: 15.4vw;
}

.inde {
    width: 3vw;
    position: relative;
    bottom: 34vh;
    left: 26.5vw;

}
.italie {
    width: 3vw;
    position: relative;
    bottom: 43vh;
    left: 11vw;
}
.japon {
    width: 3vw;
    position: relative;
    bottom: 42vh;
    left: 31.5vw;
}
.maroc {
    width: 3vw;
    position: relative;
    bottom: 38vh;
    left: 1.5vw;
}
.namibie {
    width: 3vw;
    position: relative;
    bottom: 22vh;
    left: 2.5vw;
}
.nepal {
    width: 3vw;
    position: relative;
    bottom: 40vh;
    left: 13vw;
}
.pays_bas {
    width: 3vw;
    position: relative;
    bottom: 47vh;
    left: -5.5vw;
}
.portugal {
    width: 3vw;
    position: relative;
    bottom: 42vh;
    left: -11.5vw;
}
.russie {
    width: 3vw;
    position: relative;
    bottom: 48vh;
    left: -4vw;
}
.tahiti {
    width: 3vw;
    position: relative;
    bottom: 22vh;
    left: 20vw;
}
.thailande {
    width: 3vw;
    position: relative;
    bottom: 33vh;
    left: 1vw;
}
.usa {
    width: 3vw;
    position: relative;
    bottom: 46vh;
    left: -40vw;
}
.vietnam {
    width: 3vw;
    position: relative;
    bottom: 36vh;
    left: -5vw;
} */