.cardList {
    flex-shrink: 0;
    width: 23vw;
    box-shadow: 0px 0px 40px 5px #bf00bf;
    padding: 1.5vw;
    height: 70vh;
}

.cardList h1 {
    display: flex;
    justify-content: center;
}
    
.country_select {
    display: flex;
    justify-content: center;
}

.country_data li {
    display: flex;
    flex-direction: column;
    background-color: #bf00bf;
    border: 1px solid black;
    margin-bottom: 10px;
}

.country_data {
    overflow: scroll;
    height: 60vh;
    margin-top: 10px;
    
}