.cardList {
    flex-shrink: 0;
    width: 23vw;
    background-color: gray;
    padding: 1.5vw;
    height: 70vh;
    margin-top: 50px;
    border-radius: 10px;
    margin-right: 100px;
}

.cardList h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
    
.country_select {
    display: flex;
    justify-content: center;
}

.country_data li {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 10px;
}

.country_data {
    overflow: scroll;
    height: 60vh;
    margin-top: 10px;
    
}